@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-main: "Public Sans", sans-serif;
}

/* html * {
  border: solid 0.5px red;
} */

#scroll{
  scrollbar-width: thin;
  scrollbar-color: #D7D7D7 transparent;
}
